.container{
    align-items: center;
    justify-content: center;
    text-align: center;
}

mat-form-field{
    width: 100%;
}

button{
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    background-color: #b7ddff;
    color: #474747;
}

button:hover{
  background-color: #88b8e2;
  color: white;
}