.container-fluid{
    color: whitesmoke;
    padding-top: 1em;
    background-color: #6e6f72;
}

h1{
    text-align: center;
}

#sendbtn{
    position: absolute;
    right:1em;
}

.col-sm{
    text-align: center;
}
.row-height{
    height: 100vh;
}

@media (min-width: 1235px) {
    .responsive-col{
        padding: 2em;
    }
}

@media (max-width: 1235px) {
    .responsive-col{
        padding-top: 2em;
    }
}

.left{
    height: 100%;
    overflow-y: scroll;
    background-color: #cdd2dd;
    transition: 0.2s;
}

.left:hover {
    background-color: #bdc3cf;
}
  
  .right{
    height: 100%;
    overflow-y: scroll;
    background-color: #cdd2dd;
    transition: 0.2s;
  }
  
  .right:hover {
    background-color: #bdc3cf;
}

  .mid{
    height: 100%;
    overflow-y: scroll;
    background-color: #e7eaf1;
    transition: 0.2s;
    
  }
  
  .mid:hover {
    background-color: #dfe2e9;
    }

  /*Remove the scrollbar*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }
  