.container-fluid{
    color: whitesmoke;
    padding-top: 1em;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plan-title{
    color: white;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
}

.save-container{
    width:100%;
}

.save-btn{
    background-color: #c9c8c8;
    color: #585858;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0 !important;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
    width: 100%;
}
.save-btn:hover{
    color: white;
    background-color: #949393;
}

.col-sm{
    text-align: center;
}
.row-height{
    height: 100vh;
}

@media (min-width: 1235px) {
    .responsive-col{
        padding: 2em;
    }
}

@media (max-width: 1235px) {
    .responsive-col{
        padding-top: 2em;
    }
}

.left{
    height: 100%;
    overflow-y: scroll;
    background-color: #cdd2dd;
    transition: 0.2s;
}
  .right{
    height: 100%;
    overflow-y: scroll;
    background-color: #cdd2dd;
    transition: 0.2s;
  }

  .mid{
    height: 100%;
    overflow-y: scroll;
    background-color: #e7eaf1;
    transition: 0.2s;
    
  }

  /*Remove the scrollbar*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }
  