<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
        </div>
        <div class="col">
            <h1>{{title | uppercase}}</h1>
        </div>
        <div class="col">
        </div>
      </div>
    
        <div class="row row-height">
          <div class="col-sm left responsive-col">
            <app-people></app-people>
          </div>
          <div class="col-sm mid responsive-col">
            <app-theplan></app-theplan>
          </div>
          <div class="col-sm right responsive-col">
            <app-whenwhere></app-whenwhere>
          </div>
        </div>
</div>
  