<div class="container-fluid">
    <div class="row justify-content-center align-self-center">
        <h3 class="justify-content-center align-self-center plan-title" type="text">{{sharedPlan.planname}}</h3>
    </div>
    
    <div class="row row-height">
      <div class="col-sm left responsive-col">
        <div class="col-header">
            <h2>PEOPLE</h2>
        </div>
          <div *ngFor="let person of sharedPlan.people" class="row form-row person-card">
              <mat-card>
                  <mat-card-content> <div class="row"> <h6>{{person.name}}</h6> </div></mat-card-content>
              </mat-card>
          </div>
      </div>

      <div class="col-sm mid responsive-col">
          <div class="col-header">
              <h2>THE PLAN</h2>
          </div>
          <div id="texteditor" contenteditable="false" disable="true">
            <div [froalaEditor]='options' [(froalaModel)]="sharedPlan.plantext"></div>
          </div>
          <mat-card>
            <mat-card-content> <h6>{{sharedPlan.address}}</h6> </mat-card-content> 
          </mat-card>
          <agm-map [latitude]="sharedPlan.latitude" [longitude]="sharedPlan.longitude" [scrollwheel]="false" [zoom]="12">
              <agm-marker [latitude]="sharedPlan.latitude" [longitude]="sharedPlan.longitude"></agm-marker>
          </agm-map>
      </div>

      <div class="col-sm right responsive-col">
          <div class="col-header">
            <h2>WHEN</h2>
          </div>
          <div class="align-self-center">
              <app-calendar-header [(view)]="view" [(viewDate)]="viewDate"> </app-calendar-header>
              <div class="cal">
                <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  [viewDate]="viewDate"
                  [events]="sharedPlan.events"
                  (dayClicked)="dayClicked($event.day)">
                </mwl-calendar-month-view>
                </div>
              </div>
          </div>
      </div>

    </div>
</div>
  
<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">{{ modalData?.date | date}}</h5>
      <button type="button" class="close" (click)="close()">
            <i class="fas fa-times-circle close-icon"></i>
      </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <h4>Events starting on this day:</h4>
            <div *ngIf="modalData?.eventsOnDay.length === 0" class="alert alert-light custom-alert">
                <p>No events start on this day.</p>
            </div>
            <div *ngFor="let event of modalData?.eventsOnDay" class="row event-modal">
                <mat-card>
                    <mat-card-content>
                        <div class="row event-content">
                                <div class="event-card">
                                        <h6>{{event.title}}</h6>
                                        <p>Start Date: {{event.start | date:'medium'}}</p>
                                        <p>End Date: {{event.end | date:'medium'}}</p>
                                </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-template>

