.container{
    align-items: center;
    justify-content: center;
    text-align: center;
}

mat-form-field{
    max-width: 400px;
    width: 100%;
}

button{
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 5em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: #b7ddff;
    color: white;
    text-shadow:
   -1px -1px 0 rgb(167, 167, 167),  
    1px -1px 0 rgb(167, 167, 167),
    -1px 1px 0 rgb(167, 167, 167),
     1px 1px 0 rgb(167, 167, 167);
}

button:hover{
  background-color: #88b8e2;
  color: white;
}
.custom-alert{
    border-radius: 0;
    padding-bottom: 0;
}