<app-navbar></app-navbar>

  <div class="container" *ngIf="errorState" class="alert alert-danger custom-alert" role="alert">
      <p>{{errorMessage}}</p>
  </div>

  <div class="container myplans">
      <h2>My Plans</h2>
      <div class="hitext">
        <p>Hi <strong>{{profile?.email}}</strong> you currently have {{profile?.plans?.length}} plan(s)</p>
      </div>
      <div *ngFor="let plan of profile?.plans" class="row form-row plans">
          <mat-card>
              <mat-card-content>
                  <div class="row event-content justify-content-end">
                          <div class="col-6 event-card">
                                  <h6>{{plan?.planname}}</h6>
                                  <p>Created on {{plan?.createdAt | date}}</p>                          
                          </div>
                          <div class="col-6">
                              <button class="btn btn-share" title="Edit or Share Plan">
                                  <i class="fas fa-edit"></i>
                              </button>
                              <button class="btn btn-delete" title="Delete Plan">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                  </div>
              </mat-card-content>
          </mat-card>
        </div>
  </div>
  
  

