h2{
    text-align: center;
    font-size: 3.5em;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color: #ffffff;
}

.myplans{
    padding-top: 1em;
}

.plans{
    padding-top: 1em;
}

.hitext{
    text-align: center;
}

.form-row{
    justify-content: center;
}

mat-card{
    /*max-width: 700px;*/
    width: 100% !important;
    padding: 0;
}

.event-content{
    height: 100%;
}

.event-card{
    padding: 1em 0 0 2em;
}

.event-delete{
    width: 100%;
}

.btn-share{
    width: 50%;
    color: white;
    font-size: 1.5em;
    background-color: #9ac8dd;
    height: 100%;
    border-radius: 0 !important;
    border: none !important;
}

.btn-share:hover{
    background-color: #5c91c4;
}

.btn-delete{
    width: 50%;
    color: white;
    font-size: 1.5em;
    background-color: #e65e5e;
    height: 100%;
    float: right;
    border-radius: 0 !important;
    border: none !important;
}

.btn-delete:hover{
    background-color: #c44d4d;
}

@media (max-width: 800px) {
    h2{
        font-size: 3em;
    }
    
}
