<app-section-card-header title="{{title}}" id=2></app-section-card-header>
<app-calendar-header [(view)]="view" [(viewDate)]="viewDate"> </app-calendar-header>

<ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalData?.date | date}}</h5>
          <button type="button" class="close" (click)="close()">
                <i class="fas fa-times-circle close-icon"></i>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <h4>Existing events starting on this day:</h4>
                <div *ngIf="modalData?.eventsOnDay.length === 0">
                    <p>No events start on this day.</p>
                </div>
                <div *ngFor="let event of modalData?.eventsOnDay" class="row form-row">
                    <mat-card>
                        <mat-card-content>
                            <div class="row event-content">
                                    <div class="col-9 event-card">
                                            <h6>{{event.title}}</h6>
                                            <p>Start Date: {{event.start | date}}</p>
                                            <p>End Date: {{event.end | date}}</p>
                                    </div>
                                    <div class="col-3 event-delete">
                                        <button class="btn btn-danger btn-delete" (click)="deleteEvent(event)">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>Event Name:</h5>
                        <mat-form-field> 
                        <input matInput type="text" [(ngModel)]="newEvent.title" [ngModelOptions]="{standalone: true}" (keyup)="refresh.next()">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <h5>Start Time</h5>
                        <app-datetime-picker
                            [(ngModel)]="newEvent.start"
                            (ngModelChange)="refresh.next()"
                            placeholder="Not set"
                            editDate=0>
                            </app-datetime-picker>
                    </div>
                    <div class="col">
                        <h5>End Time</h5>
                        <app-datetime-picker
                            [(ngModel)]="newEvent.end"
                            (ngModelChange)="refresh.next()"
                            placeholder="Not set"
                            editDate=1>
                            </app-datetime-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn addbtn" (click)="addEvent()">Add Event</button>
        </div>
</ng-template>

<div class="align-self-center">
  <div class="cal">
    <div [ngSwitch]="view">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
    </div>
  </div>
</div>

