@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

html,
body {
  height: 100%
}

body{
    background-color: #e4e8f0;
}

/* Global modal styles */
.modal-content{
    background-color: #f3f6faea;
    color: #6e6f72;
    border: none;
    border-radius: 0;
}

.btn-link{
    color: #bbc2ce;
}

.btn-outline-primary{
    color: #6e6f72;
    border-width: 2px;
    border-color: #a1b1ce;
}

.btn-outline-primary:hover{
    background-color: #8897b9;
    border-color: white;
}

.btn-outline-primary:focus{
    outline: none;
}